@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}
.page-body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.sectiongreetings__wrapper {
  background-image: url(./img/sectiongreetings_phone.png);
  background-size: cover;
  min-height: 100vh;
}
.page__header {
  background: rgba(94, 93, 88, 0.6);
  padding-top: 26px;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.page__header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-navigation__item:hover .main-navigation__link {
  color: #18cfab;
}
.romb {
  background-image: url("./img/romb.svg");
  width: 58px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
}
.logo {
  text-decoration: none;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.blueH {
  color: #18cfab;
}
.main-navigation__wrapper {
  display: flex;
  align-items: center;
}
.main-navigation__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 21px;
  margin: 0;
  padding-left: 0;
}
.main-navigation__link {
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-style: normal;
}
.search {
  margin-left: 21px;
  background-image: url("./img/searchicon.svg");
  width: 30px;
  height: 30px;
  border-color: transparent;
  background-repeat: no-repeat;
  background-color: transparent;
}
/************************************section greetings*******************/
.greetings {
  height: calc(100vh - 120px);
  text-align: center;
}
.greetings_title {
  text-transform: uppercase;
  margin-top: 264px;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.greetings_title-blue {
  color: rgba(24, 207, 171, 1);
}
.greetings-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  color: #ffffff;
}

.greetings-text1 {
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  color: #d4d4d4;
  margin-bottom: 150px;
}
.button {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  width: 169px;
  height: 64px;
  background: #18cfab;
  border-radius: 9px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 16px 17px;
  display: inline-block;
  margin-right: 26px;
}
.button_blue {
  background: #00cbf6;
}
/****************************flex****************************/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 83px;
}
.flex-item {
  background: #18cfab;
  width: 25%;
  height: 377px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-dark {
  background: #1c2a33;
}
.flex-item__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  margin-top: 47px;
}
.text-blue {
  color: #18cfab;
}

/******************************tab*********************************************/
.centered-content {
  width: 100%;

  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.dash-title {
  position: relative;
}
.dash-title::after {
  content: "";
  width: 75.54px;
  height: 1px;
  background: #18cfab;
  display: inline-block;
  position: absolute;
  bottom: -26px;
  left: 47%;
}
.dash-title::before {
  content: "";
  display: inline-block;
  width: 78px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  bottom: -29px;
  left: 48%;
}
.ourservices-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 101px;
  color: #4e4e4e;
}
.tabs {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.tabs-title {
  padding: 20px;
  border: 1.5px solid #18cfab;
  color: #717171;
  cursor: pointer;
  border: 1px solid #edefef;
  background: #f8fcfe;
  padding: 13px 39px;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
}

.tabs-title.active {
  background-color: #18cfab;
  color: #23201d;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}
.tabs-content {
  padding: 0;
  padding-left: 15px;
}
.ourservices {
  display: flex;
}
/***************************************************************************/
.buyandinstall {
  background-image: url(./img/justbuyandinstall.png);
  background-size: cover;
  height: 476px;
  padding-top: 126px;
}
.buyandinstall__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
}
.buyandinstall__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #d8d8d8;
  margin-bottom: 67px;
}
.buyandinstall__button {
  width: 168px;
  height: 63px;
  background: #18cfab;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 9px;
  border: none;
  padding: 21px 10px 12px 11px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/********************************grid - our amaizing work*******************************************/
.ouramazingwork {
  background-image: url(./img/ouramazingworkbackground.png);
  background-size: cover;
  padding-top: 96px;
}
.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  grid-template-areas:
    "item-11 item-12 item-13  item-14 "
    "item-21 item-22 item-23  item-24"
    "item-21 item-32 item-33  item-34";
}
.grid-button {
  width: 168px;
  height: 63px;
  background: #18cfab;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 9px;
  border: none;
  padding: 22px;
  display: inline-block;
  margin-bottom: 82px;
}
.grid-hidden {
  display: none;
}
.ouramazingwork-plus {
  margin-right: 15px;
}

/************************************************breaking news************************************/
.news-grid {
  display: grid;
  grid-template-columns: repeat(4, 263px);
  row-gap: 43px;
  column-gap: 35px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.main-item:hover .february {
  background-color: #18cfab;
}
.main__link {
  text-decoration: none;
  position: relative;
}

.february {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -194px;
  right: 0px;
  background-color: #203e38;
  width: 70px;
  color: #ffffff;
  padding: 15px 6px;
  text-align: center;
}
.number {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 15px;
  font-weight: 400;
}
.feb {
  margin: 0;
  font-size: 16px;
  line-height: 15px;
  font-weight: 400;
}
.main__text {
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
  padding-left: 10px;
  margin: 0;
}
.main-item:hover .main__text {
  color: #18cfab;
}
.additional__text {
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  padding-left: 10px;
  color: #777777;
  margin: 0;
}
.footer {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
  text-align: center;
  background: #22353f;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 67px;
}
.footer-text {
  margin: 0;
}
.footer-blue {
  color: #18cfab;
}
/************************************************what people say************************************/
.peoplesaywrapper {
  background-image: url(./img/peoplesayback.png);
  background-size: cover;
  min-height: 100vh;
}

.peoplesay {
  padding-top: 98px;
}
.peoplesay-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #bbbbbb;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.swiper-slide-img {
  width: 143px;
  height: 143px;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.hasan {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;

  color: #18cfab;
}
.designer {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #18cfab;
}
.whatpeople {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
}
